name: virtual_gamepad_pro
description: Advanced virtual controller suite for Flutter. Includes joystick, d-pad, buttons, and a powerful runtime layout editor with JSON serialization. Optimized for remote play and cloud gaming.
version: 0.1.0
homepage: https://github.com/XiaoNaoWeiSuo/flutter_virtual_keyboard
repository: https://github.com/XiaoNaoWeiSuo/flutter_virtual_keyboard
issue_tracker: https://github.com/XiaoNaoWeiSuo/flutter_virtual_keyboard/issues

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  shaders:
    - lib/shaders/d_pad.frag
